{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{% static 'olympic/images/favicon.ico' %}" type="image/x-icon"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=Open+Sans:wght@400;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'olympic/css/deafult.css' %}">
    <link rel="stylesheet" href="{% static 'olympic/css/style.css' %}">
</head>
<body>
{% include 'olympic/base/header.html' %}

<div class="container">
    <div class="attention_block">
        <div class="attention_title">
            Warning!
        </div>
        <div class="attentional_text">
            You can connect your Telegram account using a Secret Token. The Secret Token is issued in the Olympic
            Telegram bot.<br>
            Without connecting your Telegram account, all olympiad notifications will be sent to your email.
        </div>
    </div>
</div>
<div class="intro_block">
    <div class="container">
        <div class="greetings">
            Welcome!
        </div>
        <div class="introduction">
            <div class="introduction_inner">
                <div class="intro_title">
                    What is the purpose of this website?
                </div>
                <div class="intro_subtitle">
                    Today, olympiads are an alternative way to enter university. The status of a prize winner or winner
                    of an olympiad gives a real opportunity for an applicant to enter the most prestigious universities
                    without entrance exams or on preferential terms (depending on the university).
                </div>
                <div class="intro_txt">
                    <span>Link to <a href="https://t.me/OlympsHub_bot">Telegram bot</a>, which works the same as this website.</span>
                    <span>In this Telegram bot you can get a Secret Token to synchronize the website and Telegram.</span>
                    <span>Link to the bot, <span class="dz">as a QR code</span>, is provided <span
                            class="intro_txt_right">on the right</span> <i class="intro_txt_span_down">below</i>.</span>
                </div>
            </div>
            <div class="introduction_qr_cont">
                <a href=""><img src="{% static 'olympic/images/tg-qr.png' %}" alt=""></a>


                <div class="qr_txt">
                    Point your camera to go to the <span>Telegram bot</span>.
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'olympic/base/footer.html' %}
<script src="{% static 'olympic/js/code.jquery.com_jquery-3.7.0.js' %}"></script>
<script src="{% static 'olympic/js/script.js' %}"></script>
</body>
</html>